[user]
	name = Ivan Grishaev
	email = ivan@grishaev.me

[alias]
  unstage = reset HEAD
  undo-commit = reset --soft HEAD^
  poh = push origin HEAD
  pulloh = pull origin HEAD
  set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`

[core]
    excludesfile = ~/.gitignore
