TAGS
venv
__pycache__
.DS_Store
*.pyc
*.jar
*.class
html-docs
Makefile.local
.eastwood
docker-compose.local.yml
*.orig
.lein-repl-history
.nrepl-port
*cider-scratch*

restclient

scratch.clj
psql.org
